#Github template for OS X
#########################
*.DS_Store
*.gitignore
*.pyc
www/api
/api/config/config.yml
vendor/*
api/vendor/*
.idea/*

.grunt
static/*
static_src/lib/bower_components/*

.db
.tmp
.sass-cache
dist
node_modules