#Github template for OS X
#########################
*.DS_Store
*.gitignore
*.pyc
www/api
/api/config/config.yml
vendor/*
api/vendor/*
.idea/*

.db
.tmp
.sass-cache
dist
node_modules
www/app/bower_components/*