{% extends 'base.html' %}

{% block page_config %}
{
    "app/main": {
        "resource_uri": "/api/v1/search/clients/locations/?franchise=1"
    }
}
{% endblock page_config %}

{% block page_module %}
    ['payment']
{% endblock page_module %}

{% block content %}
    {{welcome_text}}

    <form action="" method="POST" id="payment-form" style="margin-top: 100px;">
      <span class="payment-errors"></span>

      <div class="form-row">
        <label>
          <span>Card Number</span>
          <input type="text" size="20" data-stripe="number" value="4012888888881881" />
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>CVC</span>
          <input type="text" size="4" data-stripe="cvc" value="123"/>
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>Expiration (MM/YYYY)</span>
          <input type="text" size="2" data-stripe="exp-month" value="05"/>
        </label>
        <span> / </span>
        <input type="text" size="4" data-stripe="exp-year" value="15"/>
      </div>

      <button type="submit">Submit Payment</button>
    </form>
{% endblock %}