//mixins
@mixin bg($x) {
  background: $x;
}

@mixin main_font {
  font-family: 'Open Sans', sans-serif;
}

@mixin inputs {
  border: 1px solid #fff;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    outline: 0;
    width: 100%;
    height: 2.5em;
}

@mixin mast_text {
  background: url(../images/thai.jpg) no-repeat top center;
  font-family: 'Open Sans', sans-serif;
  color: white;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
   font-weight: 800;
  font-size: 13em;
  text-align: center;

}

@mixin btns {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background: #5e9c00;
  background: -moz-linear-gradient(top, #7cb600, #5e9c00);
  background: -webkit-linear-gradient(top, #7cb600, #5e9c00);
  background: linear-gradient(top, #7cb600, #5e9c00);
  -moz-box-shadow: 0 5px 0px 0px #999;
    -webkit-box-shadow: 0 5px 0px 0px #999;
    box-shadow: 0 5px 0px 0px #999;
  position: relative;
   -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 0;
  width: 14em;
  font-size: 1.4em;
  padding: 1em 0;
  margin: 1em 0;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  opacity: 1 !important;
}

@mixin hover_btn {
  color: #e6e6e6 !important;
    top: 3px; /* this is from the general style position relative, now this will "press" down 3 pixels */
     -moz-box-shadow: 0 3px 0 0 #999;
    -webkit-box-shadow: 0 3px 0 0 #999;
    box-shadow: 0 3px 0 0 #999;
}

body {
   @include bg(url(../images/thai.jpg) no-repeat top center);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
}

//typography
h1 {
    @include main_font;
}

//
.cf:after {
  content: "";
  display: table;
  clear: both;
}

p, ul, h1, h2 {
  color: #fff;
}

button, a {
  outline: 0;
}

button, .btn {
  @include btns;

  &:hover {
    @include hover_btn
  }

  &:active {
    background: #5e9c00;
  };
}

button[name='submit-button'] {
    width: 3em;
    padding: 0.2em;
    margin-top: 1.4em;
  }

// alerts
.alert {
    position: fixed;
    bottom  : -100px;
    left : 0;
    margin: 0;
    padding: 25px 0;
    width: 100%;
    z-index: 100;
    text-align: center;
}
//containers
.header {
  @include main_font;

  #navagation ul {
    float: right;
    margin-right: 3.5em;
    padding-top: 2em;

    li {
      float: left;
      list-style: none;
      margin-left: 1.5em;

      a {
        color: #fff;
      }
    }
  }

}

.content {
/*  width: 960px;
  margin: 0 auto;*/
  clear: both;
  .open_title {
    @include mast_text;
    margin-top: 0;
    padding-top: 0.5em;
  }

  .open_blurb {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.6em;
  }

  .food_module {
    .allery_disclaimer li {
      font-size: 1.6em;
      color: #fff;
    }
  }
}

.lets_get_started {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.top_clipping {
  background: rgba(0,0,0,.9);
  -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
    -webkit-box-shadow: 0 8px 6px -6px #000;
  -moz-box-shadow: 0 8px 6px -6px #000;
  box-shadow: 0 8px 6px -6px #000;
  padding-bottom: 10em;

}

.start_food_picker {
  background: url(../images/square_texture.png);
  padding-top: 1em;
  padding-bottom: 5em;

  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 4em;
    padding-bottom: 0.5em;
    text-align: center;
    color: #383838;
  }
}

.food_module {
  margin-right: 1em;
  background: #f2f2f2;
  float: left;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-sizing: border-box;
  border-radius: 5px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
    border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
  padding: 20px;
  width: 49%;

    &:before {
        position: absolute;
        width: 100%;
        height: 76%;
        border-radius: 10px / 100px;
        z-index: -1;
        top: 12%;
        bottom: 12%;
        content: "";
        box-shadow: 0 0 19px rgba(0,0,0,0.71);
      }

  h2, p, ul {
    color: #383838;
  }

  h2 {
    font-size: 1.4em;
  }

  &.veg {
    margin-right: 0;
  }

  .coin_denom {

    &.one_coin {
      @include bg(url('../images/coin.png') top left no-repeat);
      float: right;
      width: 4.7em;
      margin-top: 1em;
      padding-top: 0.6em;
    }

    &.two_coins {
      @include bg(url('../images/coins.png') top left no-repeat);
      float: right;
      width: 85px;
      margin-top: 10px;
      padding-top: 7px;

      p {
        padding-left: 3.5em;
      }
    }

    p {
      font-size: 1.2em;
      font-weight: 700;
      padding-left: 2.4em;
    }
  }

  img {
    width: 100%;

    &.coin_up {
      float: left;
      width: auto;
      padding-right: 1em;
    }
  }
}


.quantity_counter {
  width: 300px;
  margin: 0 auto;
    .quantity_food_1 {
      text-align: center;
    width: 2em;
    font-size: 2em;
    font-weight: bold;
    background: none;
    border: none;
    }

    .counter_minus, .counter_plus {
      @include inputs;
      width: 38%;
      height: auto;
    background: #00aaf1;
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    display: inline-block;
    padding: 0.4em;
    cursor: pointer;
    }

    .counter_minus {
      padding: 0.4em 0.5em;
    }
}

.inner_food_picker {
  margin: 0 auto;
  max-width: 56em;
  width: 100%;
}

.food_module:last-child {
  margin-right: 0;
}

.btn_go_to_map {
  margin: 0 auto;
  width: 275px;
  clear: both;
}

.map_section_holder {
  position: relative;
}

#geo_map,
#geo_map_mask {
    width: 100%;
    height: 500px;
}
#geo_map_mask {
    position: absolute;
    top : 0;
    left: 0;
    z-index: 1;
}

#map_form {
  position: absolute;
  top: 0.5em;
  left: 2em;
  width: 24em;
    z-index: 10;

    button {
      background: #e53702;
    background: -moz-linear-gradient(top, #ff460d, #e53702);
    background: -webkit-linear-gradient(top, #ff460d, #e53702);
    background: linear-gradient(top, #ff460d, #e53702);
      margin-top: 0;
      padding: 0.2em 1em;
      width: auto;
    }
}

#location {
  float: left;
}

label[for='physical_location'] {
  display: none;
}

input#physical_location {
  @include inputs;
  -webkit-box-shadow: 1px 1px 1px #676767;
  -moz-box-shadow: 1px 1px 1px #676767;
  box-shadow: 1px 1px 1px #676767;
  width: 15em;
  height: 2.5em;
}

.street_address_holder {
  margin-right: 0.5em;
}

.food_of_the_day {
  border: 0.2em solid #323232;
}

.payment_holder {
  background: rgba(0,0,0,.9);
}
#payment_section {
  padding-bottom: 2em;
  h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin: 0;
    font-size: 4em;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }
  p {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 4em;
  }
}

#payment_form {
  width: 500px;
  margin: 0 auto;

  label {
    display: block;
    color: #fff;
  }
  input {
  @include inputs;
  }
}

button[name='submit-button'].payment_btn {
  width: 30%;
}

#site_footer {
  background: rgba(0,170,241,.9);

  #footer_nav {
    @include main_font;
    text-align: center;
    padding: 1em;
    ul {
      margin-bottom: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .content {
    .open_title {
      font-size: 9em;
    }
  }
}

@media only screen and (max-width: 767px) {
  .food_module {
    width: 45%;

    &:first-child {
      margin-right: 4em;
    }

    p, h2 {
      font-size: 100%;
    }
  }

  .inner_food_picker {
    max-width: 47em;

  }

  .quantity_counter {
    width: 100%;

    .counter_minus, .counter_plus {
      width: 40%;
    }

    .quantity_food_1 {
      width: 15%;
    }
  }
}

@media only screen and (max-width: 590px) {
  .content {
    .open_title {
      font-size: 4em;
      padding-top: 2em;
    }
  }

  .food_module:first-child {
    margin-right: 1em;
  }

  .inner_food_picker {
    padding-left: 4em;
  }

  label[for="physical_location"] {
    color: #1a1a1a;
  }
}

@media only screen and (max-width: 520px) {

  .header {
    #navagation ul {
      margin: 0 auto;
      margin-right: 0;
      padding: 0;
      padding-top: 2em;
      width: 77%;
    }
  }
  .food_module {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1em;
  }

  .food_module:first-child {
    margin-right: 0;
  }
  .food_module:before {
    display: none;
  }
  .quantity_counter .quantity_food_1 {
    width: 15%;
    padding:0;
  }

  #map_form {
    width: 100%;
    padding: 1em;
    left: 0;

    div, input, button {
      width: 100%;
    }

    button {
      margin-top: 0.5em;
    }
  }

  .inner_food_picker {
    padding-left: 0;
  }

}


