<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}DinDinTonight{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- This file store project specific CSS -->

    {% block css %}{% endblock css %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DinDinTonight</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {% block headernav %}
              <li><a href="#someUrlHere">Some URL Here</a></li>
              <li><a href="#SomeUrlHereToo">Some URL Over Here Too</a></li>
              {% endblock headernav %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#"></a></li>
                  <li class="dropdown-header">Account</li>
                  {# <li><a href="{% url 'user_profile' %}">My Profile</a></li> #}
                  <li><a href="{% url 'account_logout' %}">Logout</a></li>
                </ul>
              </li>
              {% else %}
              {# <li><a href="{% url 'account_login' %}?next={{ request.META.PATH_INFO }}">Login</a></li> #}
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

    <div class="container">
      {% block content %}
        <div class="page-header">
          <h1>Content would go here</h1>
        </div>
      {% endblock content %}
    </div> <!-- /container -->
  </div> <!-- End of #wrap -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">Something Something Footer</p>
      </div>
    </div>

    {% block modals %}{% endblock modals %}
    {% block templates %}{% endblock templates %}

    <script>
        var require = {
            config: {
                main: {
                    resource_uri: '/api/v1/search/clients/locations/?franchise=1',
                    {% if request.user.is_authenticated %}
                    user: {{ request.user.json|safe }}
                    {% endif %}
                }
            }
        };

        // Add page_config to require.config
        (function(e){for(var t in e||{}){require.config[t]=e[t]}})(
            {% block page_config %}{% endblock page_config %}
        );
    </script>
    <script src="{{ STATIC_URL }}lib/bower_components/requirejs/require.js" data-main="{{ STATIC_URL }}js/main.js"></script>
    <script>
        require(['main'], function(app) {
            app.require({% block page_module %}{% endblock page_module %});
        });
    </script>

    {% if True %}
        <!-- Livereload script rendered -->
        <script src="http://local.dindintonight.co:35729/livereload.js"></script>
    {% endif %}

  </body>
</html>
