{{#if has_orders}}

    <h3>Summary</h3>

    <div id="price">{{formatCurrency total_price }}</div>

    <ul id="list">
        {{#each meals}}
            {{> './meal-item'}}
        {{/each}}
    </ul>

{{else}}

    <p>Looks like you haven't placed any orders yet. :'(</p>

{{/if}}