<div id="wrapper">

    {{! Content }}
    <div class="content">
        <header id="site_header" class="header">
            <nav id="navagation">
                <ul>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </nav>
        </header>

        <section class="top_clipping">
            <div class="lets_get_started">
                <h1 class="open_title">DiNDiN TONiGHT</h1>
                <p class="open_blurb">Fresh hot dinner, delivered to your door</p>
                <a href="#" class="btn go_to_food">Let&#39;s Go!</a>
            </div>
        </section>

        {{! Meals View }}
        <div id="view-meals">
            <div class="start_food_picker">
                <h1>ORDER UP</h1>

                {{! Meal View }}
                <div id="view-meal" class="inner_food_picker cf"></div>

                <div class="btn_go_to_map">
                    <button class="next" type="submit">Keep Going!</button>
                </div>
            </div>
        </div>
        {{! Meals View }}


        {{! Location View }}
        <div id="view-location">
            <div class="map_section_holder">
                <div id="map_form">
                    <div id='location'>
                        <div class="street_address_holder">
                            <label for='physical_location'>Your Location</label>
                            <input type="text" id="physical_location" value="M@dison, Detroit, MI" />
                        </div>
                    </div>
                    <button type="button" id="btn-location">Find</button>
                </div>

                <section id="geo_map"></section>
                <section id="geo_map_mask"></section>
            </div>
        </div>
        {{! Location View }}


        {{! Payment View }}
        <div id="view-payment"></div>
        {{! Payment View }}


    </div>
    {{! Content }}


    <footer id="site_footer" class="footer">
        <nav id="footer_nav">
            <ul>
                <li>&#169;2013 DinDin Tonight. All Rights Reserved. <br><small>Don&#39;t copy, you&#39;ll go to hell.</small></li>
            </ul>
        </nav>
    </footer>
</div>